.cell {
    /*background: dodgerblue;*/
    background: #1779ba;
    color: white;
    text-align: center;
  }
  .cell:nth-child(odd) {
    background: #37a0e6;
  }

  .hide-content div{
    visibility: hidden;
  }

  .min-20{
    min-height: 20px;
  }

  .min-100{
    min-height: 100px;
  }